{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
brew "apache-arrow-glib"
brew "apache-spark"
brew "azcopy"
brew "automake"
brew "aws-sam-cli"
brew "chezmoi"
brew "chruby"
brew "cloc"
brew "cookiecutter"
brew "dasel"
brew "docker-credential-helper"
brew "fd"
brew "fzf"
brew "gh"
brew "gnu-sed"
brew "gnupg"
brew "go"
brew "golang-migrate"
brew "grep"
brew "jc"
brew "jq"
brew "krew"
brew "luarocks"
brew "mysql-client"
brew "neovim"
brew "node"
brew "pinentry-mac"
brew "pipenv"
brew "pipx"
brew "postgresql@14"
brew "pyenv-virtualenv"
brew "pyenv-virtualenvwrapper"
brew "python-setuptools"
brew "python@3.12"
brew "python@3.13"
brew "ripgrep"
brew "ruby-install"
brew "sqlfluff"
brew "telnet"
brew "tenv"
brew "tmux"
brew "wget"
brew "yq"
brew "zsh"
cask "1password"
cask "1password-cli"
cask "atext"
cask "brave-browser"
cask "cyberduck"
cask "dbeaver-community"
cask "discord"
cask "docker"
cask "freedom"
cask "google-drive"
cask "font-hack-nerd-font"
cask "notion"
cask "pritunl"
cask "qmk-toolbox"
cask "rapidapi"
cask "rectangle"
cask "slack"
cask "the-unarchiver"
cask "tidal"
cask "vlc"
cask "zoom"
EOF

curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin

if [[ -d $HOME/.tmux/plugins/tpm/.git ]]; then
  echo "Skipping tpm"
else
  echo "Installing tpm"
  git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm/
  tmux source ~/.tmux.conf
fi

curl -LsSf https://astral.sh/uv/install.sh | sh
npm install -g @anthropic-ai/claude-code

{{ end -}}
